body, input {
    font-family: 'Jost', sans-serif;
}

@media only screen and (max-width: 600px) {
    body {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .cell input, .grid-item input {
        font-size: 1em;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #FAF9F6;
    overflow: auto; 
    position: relative;
}

.dark-theme {
    background-color: #222;
    color: #fff;
}

.grid-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 90%; 
    height: 60%; 
    box-sizing: border-box;
}

.dark-theme .grid-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 90%; 
    height: 60%; 
    box-sizing: border-box;
    background-color: #222;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60%;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F6;
    border: 0.0000000001em solid #FAF9F6;
    padding: 0.0000000001em;
    box-sizing: border-box;
    width: 100%; 
}

.dark-theme .cell {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border: 0.0000000001em solid #222;
    padding: 0.0000000001em;
    box-sizing: border-box;
    width: 100%; 
}

.cell img {
    padding-top: 10%;
    max-width: 60%;
    max-height: 60%;
    border-radius: 4%;
    box-sizing: border-box;
}

.cell input {
    margin-top: .1em;
    width: 90%;
    height: 90%;
    border: .5vh solid #ddddddc7;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 4em;
    color: #222;
}

.dark-theme .cell input {
    background-color: #222;
    color: #fff;
    border: .5vh solid #7a7a7a;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid #ddd;
    padding: 0vh;
    box-sizing: border-box;
}

.dark-theme .grid-item {
    background-color: #222;
    color: #fff;
    border-color: #444;
}

/* Repeated for each CSS rule */

.grid-item img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: contain;
}

.grid-item input {
    margin-top: 5vh;
    width: 100%;
    height: 100%; 
    border: 4px solid #ddddddc7; 
    border-radius: 5px; 
    padding: 1vh;
    box-sizing: border-box;
    text-align: center;
    color: #222;
}

.dark-theme .grid-item input {
    background-color: #444;
    color: #fff;
    border: 4px solid #444444c7;
}

.menu {
    position: absolute;
    top: 2vh;
    right: 2vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1vh;
    box-sizing: border-box;
}

.dark-theme .menu {
    background-color: #333;
    border: 1px solid #444;
}

.menu-item {
    margin-bottom: 1vh;
    cursor: pointer;
}

.dark-theme .menu-item {
    color: #fff;
}

.help-modal {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content img {
    max-width: 80%; /* adjust as necessary */
    max-height: 80%; /* adjust as necessary */
    display: block;
    margin: 0 auto; /* center the image */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.dark-theme .modal-content {
    background-color: #333;
    border: 1px solid #444;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.dark-theme .close {
    color: #fff;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.dark-theme .close:hover,
.dark-theme .close:focus {
    color: #fff;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2 0vh;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #FAF9F6;
    color: #222;
}

.dark-theme nav {
    background-color: #222;
    color: #fff;
    border-color: #444;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.icon {
    width: 35px;
    height: 35px;
    color: #222;
}

.dark-theme .icon {
    color: #fff;
}

.icon:hover {
    cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.dark-theme input[type="number"] {
    background-color: #444;
    color: #fff;
}

.img-alt-text {
    text-align: center;
    margin-top: 10px;
    color: #222;
}

.dark-theme .img-alt-text {
    color: #fff;
}